li{
    display: inline;
    margin-right: 10px;
}
nav{
    display: flex;
    justify-content: space-between;
}
li:hover{
    color: #17b8a1;
}
header{
width: 70%;
margin-inline: auto;
}
.title{
    font-size: 35px;
    color: #17b8a1;
}
#section1{
    border: solid;width: 70%;
    margin-inline: auto;
    margin-top: 50px;
    text-align: center;

}
.description{
    display: flex;
    justify-content: space-between;
    text-align: left;
    justify-items: center;
}
.carte{
    border: solid;
    height: 400px;
    width: 300px;
}